.model-sentinel/

# Python
__pycache__/
*.egg-info/
.venv

# Testing
.coverage
htmlcov/

# Build artifacts
dist/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env

# misc
/downloaded_models/
*.log

# Internal docs
docs/agent/
docs/internal/

!.gitkeep
